/* Search box */
#search{
    width: 60%;
    height: 70%;
}
/* Search button */
#getWeather{
    color: #fff;
    background-color: #26a69a;
}
/* Search icon */
.material-icons{
    cursor: pointer;
}
/* Past city button inside the search history section */
.pastcity{
    width: 80%;
    height: 100%;
    text-align: left;
}
